/* coller pallet: C6E0E4, B0C6D7, EDEBE3, 505980, B8B8B8 */

body {
  background-color: #b0c6d7;
}

h1 {
  margin-bottom: 0;
  text-transform: capitalize;
}

li {
  list-style: none;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  margin-top: 150px;
  width: 30%;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(80, 89, 128, 0.2);
}

.footnote {
  font-size: 12px;
}

button {
  padding: 0;
  border: none;
  background: none;
}

.search {
  margin-bottom: 40px;
}

.currentTemp {
  font-size: 60px;
  font-weight: bold;
  margin-right: 20px;
}

a {
  color: black;
  text-decoration: none;
  cursor: default;
}

.forecast {
  margin-top: 40px;
}

img.weather {
  margin-top: 20px;
  margin-bottom: 20px;
}

.temperature .active {
  color: rgba(80, 89, 128, 0.2);
  cursor: default;
}

.updatedAt {
  font-style: italic;
  font-size: 12px;
}

#github {
  text-decoration: underline;
  color: #b0c6d7;
  cursor: pointer;
}

.col {
  text-align: center;
}

.forecast-temp {
  font-size: 12px;
}
